.page6Container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
  }

  .spinner {
    position: absolute;
    top: 10%;
    width: 200px;
    height: 200px;
    animation: rotate 20s linear infinite;
  }

  .spinnerLeft {
    margin-top: -250px;
    left: -15%;
    height: 500px;
    width: 500px;
  }

  .spinnerRight {
    margin-top: -50px;
    height: 200px;
    right: 5%;
  }
  
  .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    padding: 2rem;
  }
  
  .talkToUs {
    background: transparent;
    padding: 2rem;
    border-radius: 10px;
    width: 45%;
  }

  .talkToUs h2 {
    margin-top: -300px;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
  
  .talkToUs form {
    display: flex;
    flex-direction: column;
  }
  
  .talkToUs input, .talkToUs textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #1e2a4a;
    color: #fff;
  }
  
  .talkToUs button {
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    background-color: #FFD700;
    cursor: pointer;
  }

  .footerCityscape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; 
  }
  
  .car {
    position: absolute;
    bottom: 20px; 
    z-index: 3;
    width: 100px; 
    /*animation: drive 10s linear infinite;*/
    animation: drive-reverse 12s linear infinite;
  }
  .bus {
    position: absolute;
    bottom: 40px; 
    z-index: 2;
    width: 100px; 
    animation: drive 10s linear infinite;
    /*animation: drive-reverse 12s linear infinite;*/
  }
  .wheel {
    position: absolute;
    bottom: 90px; 
    z-index: 1;
    width: 100px; 
    animation: drive-reverse 15s linear infinite;
  }
  .van {
    position: absolute;
    bottom: 5px; 
    z-index: 4;
    width: 100px; 
    animation: drive-reverse 15s linear infinite;
  }
  
  .redCar {
    right: -100px;
    animation-duration: 12s;
    
  }
  
  .greenCar {
    right: -100px;
    animation-duration: 15s;
  }
  
  .pinkCar {
    right: -100px;
    animation-duration: 10s;
  }
  
  .yellowCar {
    right: -100px;
    animation-duration: 18s;
  }
  
  .yellowBus {
    right: 1200px;
    animation-duration: 20s;
  }
  .threeWheel {
    right: -100px;
    animation-duration: 25s;
  }
  .whiteVan {
    right: -100px;
    animation-duration: 30s;
  }
  
  @keyframes drive {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(110vw);
    }
  }

  @keyframes drive-reverse {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-110vw);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }